services:
  api:
    build: .
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]
    container_name: rag-fastapi-app
    ports:
      - 8000:8000
    env_file:
      - .env
    environment:
      - VECTOR_DB_URL=http://qdrant:6333
    depends_on:
      - qdrant
    volumes:
      - .:/app
  
  qdrant:
    image: qdrant/qdrant:latest
    container_name: rag-vector-db
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_storage:/qdrant/storage

volumes:
  qdrant_storage: